<!DOCTYPE html>
<html>

<head>
  <title>Cambridge Bumps - Embedded Bumps charts</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
  <style>
    body {
      margin: 5px;
    }
  </style>
</head>

<body>
  <h1>Embedded Bumps charts</h1>
  <h2>Example</h2>
  <pre>
&lt;div class="bumps-chart"
  data-set="Town Bumps"
  data-year="2016"
  data-gender="Men"
  data-crew="City 2"
  data-width="300">
  City M2
&lt;/div>
  </pre>
  <div class="bumps-chart" data-set="Town Bumps" data-year="2016" data-gender="Men" data-crew="City 2" data-width="300"></div>
  
  <h2>Dimensions</h2>
  <p>An embedded Bumps chart automatically adjusts to the width of its parent element. Set the maximum width or the maximum height of an embedded Bumps chart by adding a data-width or data-height attribute.</p>
  <div class="bumps-chart" data-set="May Bumps" data-year="2016" data-gender="Women" data-crew="Q,Q2,Q3" data-width="300" data-height="300"></div>

  <h2>Customize widget</h2>
  <p>Control the frame around the Bumps chart by setting a data-chrome attribute with space-separated tokens for each chrome component.</p>
  <h3>noheader</h3>
  <p>Hides the header.</p>
  <h3>nofooter</h3>
  <p>Hides the footer.</p>
  <h3>noborder</h3>
  <p>Remove border surrounding widget area.</p>
  <div class="bumps-chart" data-set="Town Bumps" data-year="2016" data-gender="Men" data-crew="City 2" data-width="300" data-height="300" data-chrome="noborder noheader nofooter"></div>
</body>

</html>